body {
    font-family: 'Open Sans', sans-serif;
    color: darkblue;
    background-color: ivory;
    margin: 10px 50px;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

img {
    float: left;
    margin-right: 10px;
    width: 100px; 
    height: auto; 
}

section {
    margin-top: 20px;
}


.browser-container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

.browser-section {
    width: 300px;
    padding: 10px;
}