body {
    font-family: 'Open Sans', sans-serif;
    color: darkblue;
    background-color: ivory;
    margin: 10px 50px;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

img {
    float: left;
    margin-right: 10px;
    width: 100px; 
    height: auto; 
}

nav {
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    color: blue;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    display: block;
}

section {
    margin-top: 20px;
}


.browser-container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

.browser-section {
    width: 300px;
    padding: 10px;
}